#collection-wrapper{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    height: fit-content;
    text-align: center;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}

#collection-wrapper h1{
    font-size: 2.5rem;
    color: #e8e245;
}

.collection-card{
    border: #FF3366 3px solid;
    border-radius: 15px;
    width: fit-content;
}

