#menu__container{
    padding: 1rem;
    max-width: var(--max-width);
    margin: 0 auto;
    padding-bottom: 6rem;
}

#title__container{
    color: #C65D7B;
    text-align: center;
}

#title__heading{
    font-size: clamp(3rem, 1rem + 4vw, 4rem);
}

#menu__list--ul{
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
    gap: max(1rem, 4vh) 0;
}

.menu__list--item{
    /*margin: 1rem;*/
    /*background-color: lightblue;*/

}

.menu__list--subtext{
    font-style: italic;
    /*-webkit-hyphens: auto;*/
    /*-moz-hyphens: auto;*/
    /*hyphens: auto;*/


}
