#menu__container{
    padding: 1rem;
    max-width: var(--max-width);
    margin: 0 auto;
    padding-bottom: 6rem;
}

#title__container{

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;

}

#title__heading{
    font-size: clamp(3rem, 1rem + 4vw, 4rem);
}


#menu__list--ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
    gap: max(1rem, 4vh) 0;

}

.menu__list--item{
    /*margin: 1rem;*/
    /*background-color: lightblue;*/
    color: #ebf7fc;



}

.menu__list--item h1{
    background-color: white;
    color: black;
    width: fit-content;
    padding: 0 0.4rem;
    font-size: 1.5rem;
    margin: 1rem 0;

}

.menu__list--subtext{
    font-style: italic;
    /*-webkit-hyphens: auto;*/
    /*-moz-hyphens: auto;*/
    /*hyphens: auto;*/


}

#logo{
    width: 85%;
}
#sub-logo{
    width:10%
}