#navbar{
    width: 100%;
    background-color: #C65D7B;
    position: fixed;
    bottom: 0;
    padding: 1rem;
}
#navbar__list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    max-width: calc(var(--max-width) / 2);
    margin: 0 auto;
}

.navbar__list--item{
    background-color: #F68989;
    padding: 0.5rem;
    border-radius: 5px;
    color: #F6E7D8;
    font-size: 1.3rem;
    display: grid;
    place-items: center;
}
